{% extends "layout.jinja" %}
{% block content %}
<div id="content">
    <section>
        <div class="container">
            <h2>About the Journal of International Law and International Relations</h2>
            <p>
                The <em>Journal of International Law and International Relations
                (JILIR)</em> is a peer-reviewed scholarly journal that fosters
                interdisciplinary discourse at the nexus of international law
                and international relations. In promoting critical, informed,
                and interdisciplinary debate on international affairs, the JILIR
                provides a forum for the advancement of knowledge, ideas,
                dialogue and dialectic in both International Law and International
                Relations.
            </p>
            <p>
                The JILIR was founded in 2004 as a joint venture between the
                <a href="http://www.law.utoronto.ca/" target="_blank">
                Faculty of Law</a> and what is now the
                <a href="http://munkschool.utoronto.ca/" target="_blank">
                Munk School of Global Affairs</a> at the
                <a href="http://www.utoronto.ca/" target="_blank">
                University of Toronto.</a>
            </p>
        </div>
    </section>

    <section>
        <div class="container">
            <h2>Subscriptions</h2>
            <p>
                The JILIR aims to publish two issues each academic year. A domestic
                print subscription is priced at CAD $32 per issue. Additional charges
                for postage may apply for foreign subscriptions. A limited number of
                back issues are available for purchase. To order print copies of
                individual issues, please contact us at
                <a href="mailto:subscriptions@jilir.org" target="_top">
                    subscriptions@jilir.org</a>.
                Unfortunately, we are not able to accept payment in cash. Cheques or
                money orders should be made out to Journal of International Law and
                International Relations, and should be sent to the address located at
                the bottom of the page.
            </p>
        </div>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <h3>By E-mail</h3>
        General Information:
            <a href="mailto:inquiries@jilir.org" target="_top">
                inquiries@jilir.org
            </a><br>
        Editors-in-Chief:
            <a href="mailto:editor@jilir.org" target="_top">
                editor@jilir.org
            </a><br>
        Submissions:
            <a href="mailto:submissions@jilir.org" target="_top">
                submissions@jilir.org
            </a><br>
        Subscriptions:
            <a href="mailto:subscriptions@jilir.org" target="_top">
                subscriptions@jilir.org
            </a><br>

        <h3>By Post</h3>
        Journal of International Law and International Relations<br>
        Munk School/Faculty of Law<br>
        University of Toronto<br>
        84 Queen's Park Crescent<br>
        Toronto, Ontario M5S 2C5<br>
        CANADA
    </section>
</div>
{% endblock %}
