{% extends "layout.jinja" %}
{% block content %}
<div id="content">
    <section class="clearfix">
        <div class="container">
            <h1>
                The Journal of International Law and International Relations
            </h1>
            <div class="events-container">
                <a href="announcements.html">
                    <h3>Upcoming Events</h3>
                </a>
                <ul>
                    <li>
                        <div class="event">
                            <em class="event-date">September 5, 2014</em><br>
                            Faculty of Law Clubs Fair
                        </div>
                    </li>
                    <li>
                        <div class="event">
                            <em class="event-date">September 16, 2014</em>
                            <br>
                            Baker Lecture on “Food Security, the World Trade
                            Organisation, and the Social State”
                        </div>
                    </li>
                    <li>
                        <div class="event">
                            <em class="event-date">September 18, 2014</em>
                            <br>
                            Associate Editors Application Deadline
                        </div>
                    </li>
                </ul>
            </div>
            <div class="twitter-container">
                <a class="twitter-timeline" href="https://twitter.com/jilireditor" data-widget-id="488894988520939521"
                    data-theme="dark" data-widget-id="488894988520939521" data-link-color="#0793e2"
                    data-chrome="transparent noborders nofooter">
                    Tweets by @jilireditor
                </a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            </div>
    </section>
    <section class="attribution">
        Washington Dulles International Airport at Dusk - Joe Ravi, CC-BY-SA 3.0
    </section>
</div>
{% endblock %}

{% block footer %}
<div id="bottom">
    <section>
        <h2>A joint venture between</h2>
        <div class="logos clearfix">
            <img src="static/Munk_School_Logo.jpg">
            <img src="static/UT_Law_Logo.jpg">
        </div>
    </section>
</div>
{% endblock %}
