{% extends "layout.jinja" %}
{% block content %}
<div id="content">
    <section>
        <h2>Send Us Your Submissions</h2>
        <div class="container">
            <h3>Call for Submissions – Volume 11.2</h3>
            <p>Deadline for Submissions: September 1, 2014</p>

            <p>
            The <em>Journal of International Law and International Relations
            (JILIR)</em> invites submissions (research articles, case comments,
            and book reviews) from scholars of International Law and/or
            International Relations for Volume 11.2, which will be compiled
            in spring 2015. We invite prospective authors to
            <a href="about.html#contact">contact</a> us with
            any questions about the suitability of a particular topic or
            manuscript. Submissions must be received by <b>September 1, 2014</b>
            to be considered for publication.
            </p>

            <p>
            <b>Please note that articles submitted over the summer will be
            queued until we return in the fall. Our review
            process begins September 14, 2014.</b>
            </p>

            <h3>Instructions for Authors</h3>
            <p>
            Please send all submissions to
            <a href="mailto:submissions@jilir.org?Subject=JILIR%20Submission" target="_top">
                submissions@jilir.org
            </a>,
            as attachments in <b>Microsoft Word</b> or <b>Rich Text Format</b>,
             with the author's name removed from the document for the purposes
            of anonymous review.
            </p>
            <p>
            In the body of the email, please include the author's full
            contact information, including:
            </p>
            <ol>
                <li>Name</li>
                <li>Institutional Affiliation</li>
                <li>Mailing Address</li>
                <li>Telephone Number(s)</li>
                <li>Email Address</li>
            </ol>
            <p>
            While we encourage and publish submissions from scholars
            based all over the world, all submissions must be
            in the English language.
            </p>
            <h3>Length Limitations</h3>
            <p>
            The JILIR strongly prefers articles under 25,000 words in
            length (the equivalent of 50 journal pages) including
            text and footnotes. We will <em>not publish</em> articles
            exceeding 30,000 words (the equivalent of 60 journal pages)
            except in extraordinary circumstances. Book reviews should
            be between 750 and 1,500 words.
            </p>

            <h3>Citation Style</h3>
            <p>
            We request that submissions contain footnotes iin accordance with the
            <b>Canadian Guide to Uniform Legal Citation, 8th edition (Toronto:
            Carswell, 2014) (“McGill Guide”)</b>. Authors are also referred to the
            Oxford Canadian Dictionary or to the Oxford English Dictionary for
            spelling. For more information, please consult the
            <a href="static/JILIR_Style_Guide_2014.pdf">JILIR Style Guide</a>.
            </p>

            <h3>Expedited Review</h3>
            <p>
            As a general policy, the JILIR does not expedite articles.
            Any requests for expedited review will not be considered.
            </p>

            <h3>Review Process</h3>
            <p>
            The JILIR is a peer-reviewed scholarly journal that seeks to
            develop interdisciplinary discourse at the nexus of
            these two dynamic disciplines. Submissions from academics,
            practitioners, and students are welcome. All articles and other
            submissions are carefully considered and anonymously reviewed
            by academics, graduate, and professional students in the
            relevant field. The various stages of review include consideration
            by Associate Editors, a vote by members of our Senior Board,
            a citations check, and external peer review. Editorial decisions
            at the Journal are conditional upon peer reviews. We notify
            authors of our decisions by email.
            </p>

    </section>
</div>
{% endblock %}
