{% extends "layout.jinja" %}
{% block content %}
<div id="content">
    <section>
        <h2>Meet the Team</h2>
        <div class="container team clearfix">
            <div class='center full'>
                <h4>Editors-in-Chief</h4>
                <ul>
                    <li>Joel Parsan (MGA Candidate)</li>
                    <li>Rebeca Ramirez (MGA Candidate)</li>
                    <li>Amy Tang (JD Candidate)</li>
                </ul>
            </div>
            <div class='clearfix'>
                <div class='left half'>
                    <h4>Executive Managing Editors</h4>
                    <ul>
                        <li>Malek Chouikh (MGA Candidate)</li>
                        <li>Chelsea Wadley (MGA Candidate)</li>
                    </ul>
                </div>

                <div class='right half'>
                    <h4>Executive Editor (Submissions)</h4>
                    <ul>
                        <li>Harrison Cruikshank (JD Candidate)</li>
                    </ul>

                    <h4>Executive Editor (Peer Review)</h4>
                    <ul>
                        <li>Glenn Gibson (JD/MGA Candidate)</li>
                    </ul>
                </div>
            </div>
            <div class='clearfix'>
                <div class='left third'>
                    <h4>Senior Editorial Board</h4>
                    <ul>
                        <li>Vivian Chung (MGA Candidate)</li>
                        <li>Jeffrey Couse (JD Candidate)</li>
                        <li>Hana Dhanji (JD/MBA Candidate)</li>
                        <li>Melanie Kim (MGA Candidate)</li>
                        <li>Pavle Levkovic (JD Candidate)</li>
                        <li>Kristen Pue (MGA Candidate)</li>
                        <li>Katelyn Reszitnyk (JD/MGA Candidate)</li>
                        <li>Genevieve Ryan (JD Candidate)</li>
                    </ul>
                </div>

                <div class='center third'>
                    <h4>Business Manager</h4>
                    <ul>
                        <li>Sunita Pillai (MGA/MBA Candidate)</li>
                    </ul>
                    <h4>Social Media Manager</h4>
                    <ul>
                        <li>Michael Suarly (MGA/MBA Candidate)</li>
                    </ul>
                </div>

                <div class='right third'>
                    <h4>Staff Editors</h4>
                    <ul>
                        <li>Anam Ansari (MGA Candidate)</li>
                        <li>Xiaolu Guan (MGA Candidate)</li>
                        <li>Salma Hassanein (MGA Candidate)</li>
                        <li>Fariha Hussain (MGA Candidate)</li>
                        <li>Sihan Wen (MGA Candidate)</li>
                    </ul>

                    <h4>Faculty Advisors</h4>
                    <ul>
                        <li>Ron Levi (Munk School of Global Affairs)</li>
                        <li>Audrey Macklin (University of Toronto Faculty of Law)</li>
                    </ul>
                </div>
            </div>

            <div class='associate-editors'>
                <h4>Associate Editors</h4>
                To be recruited in September
                <ul class="columns">
                    <li></li>
                </ul>
            </div>
        </div>
        <div class='container senior-advisors'>
            <h3>Senior Advisory Board</h3>

            <p>
            The Senior Advisory Board of the JILIR is composed of preeminent
            judges, lawyers and academics working in the field of International
            Relations and International Law. Its members are drawn from
            across the globe. The members are:
            </p>

            <ul class="columns">
                <li>Kenneth Abbott (Arizona State University)</li>
                <li>Jose Alvarez (New York University)</li>
                <li>Upendra Baxi (University of Warwick)</li>
                <li>Laurence Boisson de Chazournes (Université de Genève)</li>
                <li>Jutta Brunnée (University of Toronto)</li>
                <li>Michael Byers (University of British Columbia)</li>
                <li>Martha Finnemore (George Washington University)</li>
                <li>Robert Keohane (Princeton University)</li>
                <li>Benedict Kingsbury (New York University)</li>
                <li>Karen Knop (University of Toronto)</li>
                <li>Martti Koskenniemi (University of Helsinki)</li>
                <li>Stephen Krasner (Stanford University)</li>
                <li>Friedrich Kratochwil (European University Institute)</li>
                <li>Oona Hathaway (Yale University)</li>
                <li>René Provost (McGill University)</li>
                <li>Philippe Sands (University College London)</li>
                <li>Shirley Scott (University of New South Wales)</li>
                <li>Gerry Simpson (London School of Economics)</li>
                <li>Janice Stein (University of Toronto)</li>
                <li>Stephen Toope (University of Toronto)</li>
                <li>Rob Walker (University of Victoria)</li>
            </ul>
        </div>
    </section>

</div>
{% endblock %}
