body, html {
  height: 100%;
}

body {
  margin: 0;
  color: white;
  background-color: #333;
  background-image: url(http://upload.wikimedia.org/wikipedia/commons/9/92/Washington_Dulles_International_Airport_at_Dusk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  padding: 0;
}

li {
  margin: 10px 0;
}

#wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

#content {
  margin: 8px;
}

header .container {
  color: white;
}

footer {
  background-color: white;
  color: black;
  padding: 8px;
}

.attribution {
  text-align: right;
  font-size: 12px;
  margin-top: 20px;
}

.events-container h3 {
  color: white;
}


/* TWITTER BOX */
.twitter-container {
  float: right;
  width: 300px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
/* END TWITTER BOX */

.events-container {
  float: left;
  width: 250px;
  height: 350px;
}

.event-date {
  font-size: 14px;
}

#bottom {
  background-color: white;
  color: black;
  padding: 8px;
}
  #bottom .logos img {
    max-width: 320px;
    max-height: 80px;
    margin: 30px 70px;
  }
  @media all and (max-width: 600px) {
    #bottom .logos img {
      margin: 30px auto;
    }
  }
